@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-15px) rotate(5deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes pulse-slow {

    0%,
    100% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.2;
    }
}

.animate-float {
    animation: float 12s ease-in-out infinite;
}

.animate-pulse-slow {
    animation: pulse-slow 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}